# Join Statements - Lab

## Introduction

In this lab, you'll practice your knowledge on Join statements.

## Objectives

You will be able to:
- Write queries that make use of various types of Joins
- Join tables using foreign keys

## CRM Schema

In almost all cases, rather then just working with a single table we will typically need data from multiple tables. 
Doing this requires the use of **joins ** using shared columns from the two tables. 

In this lab, we'll use the same Customer Relationship Management (CRM) database we used in our lecture before!
<img src='Database-Schema.png' width=550>

## Connecting to the Database
Import the necessary packages and connect to the database **data.sqlite**.

In [18]:
#Your code here
import sqlite3
import pandas as pd
conn = sqlite3.connect('data.sqlite')
cur = conn.cursor()

## Display the names of all the employees in Boston.

In [19]:
#Your code here
cur.execute('''select firstName, lastName from employees
                join offices
                on employees.officeCode = offices.officeCode
                where city = 'Boston';''')
df = pd.DataFrame(cur.fetchall())
df.columns = [i[0] for i in cur.description]
df.head()

  firstName   lastName
0     Julie   Firrelli
1     Steve  Patterson

## Do any offices have no employees?

In [25]:
#Your code here
cur.execute('''select count (*)
                from employees
                left join offices
                using(officeCode)
                group by office;''')
df = pd.DataFrame(cur.fetchall())
df.columns = [i[0] for i in cur.description]
df

OperationalError: no such column: office

## Write 3 Questions of your own and answer them

In [ ]:
# Answers will vary

In [ ]:
# Your code here

In [ ]:
# Your code here

In [ ]:
# Your code here

## Level Up: Display the names of each product each employee has sold.

In [ ]:
# Your code here

## Level Up: Display the Number of Products each Employee Has sold

In [ ]:
#Your code here

## Summary

Congrats! You now know how to use Join statements, along with leveraging your foreign keys knowledge!